@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <style scoped>
        .mud-image {
            height: 50px;
            display: initial;
        }
    </style>
    <main>
        <div class="top-row row">
            <div class="col" style="text-align: left">
                <MudImage Height="50" Src="imgs/ipn.png"></MudImage>
            </div>
            <div class="col" style="text-align: center">
                <MudImage Height="50" Src="imgs/misti.png"></MudImage>
            </div>
            <div class="col" style="text-align: right">
                <MudImage Height="50" Src="imgs/logoesime.png"></MudImage>
            </div>

        </div>

        <MudMainContent>
            <MudContainer MaxWidth="MaxWidth.Medium">
                @Body
            </MudContainer>
        </MudMainContent>
        
        <footer class="footer">
            <p>Jonathan Eduardo García García - 2022</p>
        </footer>
        @*        <article class="content px-4">
        @Body
        </article>*@
    </main>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</div>